1.Python program to find smallest number in a list

In [17]:
a=[1,34,-2,5,6,7,98]

In [18]:
a.sort()

In [19]:
print(a)

[-2, 1, 5, 6, 7, 34, 98]

In [20]:
print("Smallest element is:", *a[:1])

Smallest element is: -2

2.Python program to find largest number in a list

In [25]:
print(a)

[-2, 1, 5, 6, 7, 34, 98]

In [27]:
print("Largest element is:", a[-1])

Largest element is: 98

3.Python program to find second largest number in a list

In [28]:
list1 = [10, 20, 4, 45, 99]
 
mx=max(list1[0],list1[1])
secondmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
    if list1[i]>mx:
        secondmax=mx
        mx=list1[i]
    elif list1[i]>secondmax and \
        mx != list1[i]:
        secondmax=list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

In [31]:
list1 = [10, 20, 4, 45, 99]
print(list1)

[10, 20, 4, 45, 99]

In [35]:
new_list = set(list1)
print(new_list)

{99, 4, 10, 45, 20}

In [33]:
new_list.remove(max(new_list))

In [34]:
print(max(new_list))

45

4.Python program to find N largest elements from a list

In [40]:
l = [100,29,357,10,20,-5,60]
n = 4
  
l.sort()
print(l[-n:])

[29, 60, 100, 357]

5.Python program to print even numbers in a list

In [41]:
list1 = [10, 21, 4, 45, 66, 93]
 

for n in list1:
     if n % 2 == 0:
        print(n, end=" ")

10 4 66

In [ ]:
6.Python program to print odd numbers in a List

In [42]:
list1 = [10, 21, 4, 45, 66, 93]
 

for n in list1:
     if n % 2 != 0:
        print(n, end=" ")

21 45 93

7.Python program to print all even numbers in a range

In [57]:
for n in range(0,100,2):
    print(n, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

8.Python program to print all odd numbers in a range

In [58]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for n in range(start, end + 1):
      
    if n % 2 != 0:
        print(n, end = " ")

Enter the start of range: 1
Enter the end of range: 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

9.Python program to print positive numbers in a list

In [59]:
d=[-1,3,4,7,23,-22,-30]
for x in d:
    if x>=0:
        print(x, end =" ")

3 4 7 23

10.Python program to print negative numbers in a list

In [60]:
d=[-1,3,4,7,23,-22,-30]
for x in d:
    if x<=0:
        print(x, end =" ")

-1 -22 -30

11. Python program to print all positive numbers in a range

In [64]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for n in range(start, end + 1):
      
    if n >= 0:
        print(n, end = " ")

Enter the start of range: -45
Enter the end of range: 50
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50